
extends layout

block content
    h1= title
    p JK , SECURITY HERE SUCKS

    // Wrapper
    #wrapper

        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th UserName
                    th Password
                    th Relation
                    th Number
                    th latitude
                    th longitude
                    th tokenValor
                    th tokenDate
                    th sharedKey
                    th Delete?
                tbody
        // /USER LIST

        // ADD USER
        h2 Add User
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserPassword(type='text', placeholder='Password')
                br
                input#inputUserRelation(type='text', placeholder='Relation')
                input#inputUserNumber(type='text', placeholder='Number')
                br
                input#inputUserLatitude(type='text', placeholder='Latitude')
                input#inputUserLongitude(type='text', placeholder='Longitude')
                br
                input#inputUserTokenValor(type='text', placeholder ='TokenValor')
                input#inputUserTokenDate(type='text', placeholder ='TokenDate')
                br
                button#btnAddUser Add User
        // /ADD USER

    // /WRAPPER
